<% if (collection && collection.length){%>
<h1>Bookmarks list</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% _.each(collection, function(item){%>
            <tr data-id="<%=item.RowKey%>">
                <td>
                    <a href="#bookmark/<%=item.RowKey%>"><%=item.title%></a>
                </td>
                <td>
                    <% if (item.location){%>
                        <a href="<%=item.location%>" target="_blank"><%=item.location%></a>
                    <%}%>
                </td>
                <td><%=item.desc%></td>
                <td><%=item.priority%></td>
                <td>
                    <a href="#bookmark/<%=item.RowKey%>" class="btn btn-default js-edit">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </a>

                    <button class="btn btn-danger js-remove">
                        <i class="glyphicon glyphicon-remove"></i>
                        Remove
                    </button>
                </td>

            </tr>
        <%})%>
    </tbody>

</table>


<pre>
    <%=JSON.stringify(collection)%>
</pre>

<%} else {%>
<p>Please wait. Loading....</p>
<%}%>