<% if (collection && collection.length){%>

<h1>Bookmarks list</h1>
<h2>Sorted by <%=sortBy%></h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>description</th>
        <th>location</th>
        <th>priority</th>
        <th>timestamp</th>
    </tr>

    <tbody>
        <% _.each(collection, function(item){%>
            <tr>
                <td><%=item.RowKey%></td>
                <td><%=item.title%></td>
                <td><%=item.desc%></td>
                <td><%=item.location%></td>
                <td><%=item.priority%></td>
                <td class="text-nowrap"><%=moment(item.Timestamp).format('LLL')%></td>
            </tr>
        <% }) %>

    </tbody>

</table>

<pre><%=JSON.stringify(collection)%></pre>

<% } else { %>
    <p class="Wait, loading">Please wait, loading...</p>
<%}%>