<% if (collection && collection.length){ %>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>URL</th>
                <th>Priority</th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="4" class="text-center">Bookmarks will be placed here</td>
            </tr>
        </tbody>
    </table>


    <% _.each(collection, function(item){%>
        <p><%=item.RowKey%></p>
    <%})%>


    <p>items:</p>
    <pre class="small">
        <%=JSON.stringify(collection)%>
    </pre>


<% } else { %>
    <p class="Wait, loading">Please wait, loading...</p>
<%}%>