<% if (model && model.Timestamp){%>

    <h1>Edit bookmark</h1>

    <form action="" class="form">
        <% if (model.RowKey){%>
        <input name="RowKey" type="hidden" value="<%=model.RowKey%>"/>
        <%}%>

        <div class="form-group">
            <label for="title">Title</label> <br/>
            <input type="text" name="title" id="title" required="required" value="<%=model.title%>"/>
        </div>

        <div class="form-group">
            <label for="desc">Description</label> <br/>
            <textarea name="desc" id="desc" cols="30" rows="10"><%=model.desc%></textarea>
        </div>

        <div class="form-group">
            <label for="location">URL</label> <br/>
            <input type="text" name="location" id="location" value="<%=model.location%>"/>
        </div>

        <div class="form-group">
            <label for="priority">Priority</label> <br/>
            <input type="number" name="priority" id="priority" value="<%=model.priority || 1%>" min="1" max="10"/>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>
    </form>

<%} else {%>
loading....
<%}%>
