extends layout

block styles
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/main.css')


block script
  script(data-main="/js/main.js?v.0.3", src="/assets/requirejs/require.js", type="text/javascript")
